<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Soliton_CVS_V1">

	<listeners>
		<listener class-name="com.solitoncvs.utilities.Reporting" />
	</listeners>

	<test name="CVSWeb test" >
		<parameter name="browser" value="chrome" />
			<classes>
				<class name="com.solitoncvs.testCases.TC_CVS_Createbroadcast_3" />
			</classes>
	</test>

</suite>
